/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

nextflow.enable.moduleBinaries = true

process {

    withName: '.*:FASTA_CLEAN_FAIDX:SEQKIT_SEQ' {
        // --only-id = EXTRACT THE SEQUENCE ID NOT THE FULL HEADER
        // -u        = UPPERCASE THE SEQUENCE
        // -v        = VALIDATE THE SEQUENCE ALPHABET
        ext.args = '-u -v --only-id'
    }

    withName: '.*:FASTA_CLEAN_FAIDX:SEQKIT_DOTS' {
        // REPLACE DOTS IN SEQUENCE ID WITH UNDERSCORES
        ext.args = "-p '\\.' -r '_'"
        ext.prefix = { "${meta.id}_dots" }
    }
}
