process {

    // NOTE: Override for FCSGX module, forcing it into the right queue
    withName: FCSGX_RUNGX {
        container   = ""
        cpus        = { 32      }
        memory      = { 520.GB  }
        time        = { 12.h    }
    }

}

params {
    config_profile_name        = 'Production profile'
    config_profile_description = 'Default Production values @ Sanger'

    fcs_gx_database_path        = "/tmp/tol_data/fcs-gx/2023-01-24/"
    ncbi_ranked_lineage_path    = "/data/tol/resources/taxonomy/latest/new_taxdump/rankedlineage.dmp"
}
