/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run sanger-tol/tiara_fcsgx_analysis -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/



process {
    // Adding the module info here
    // stopped the resources from base.config
    // from being used, and causes the job
    // to only use the defaulted process_* tag
    // which is just not enough for FCS_GX
    // TODO
    // Allowing it to use default resources, stops it showing up in LSF?
    withName: FCSGX_RUNGX {
        container   = ""
        cpus        = { 32      }
        memory      = { 520.GB  }
        time        = { 12.h    }
    }
}

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    sample                      = "Meles_meles"
    input                       = "https://tolit.cog.sanger.ac.uk/test-data/Meles_meles/assembly/release/mMelMel3.1_paternal_haplotype/GCA_922984935.2.subset.fasta"
    taxid                       = 9662
    fcs_gx_database_path        = "/tmp/tol_data/fcs-gx/2023-01-24/"
    ncbi_ranked_lineage_path    = "/data/tol/resources/taxonomy/latest/new_taxdump/rankedlineage.dmp"
}
